.searchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid #e2e2e5;
}

.searchPage__logo {
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}

.searchPage__headerBody > .search > .search__input {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchPage__options {
    display: flex;
    align-items: center;
    color: #5f6267;
}

.searchPage__optionsLeft a,
.searchPage__optionsRight a {
    text-decoration: none;
    color: #5f6267;
}

.searchPage__optionsLeft,
.searchPage__optionsRight {
    display: flex;
}

.searchPage__optionsRight {
    margin-left: 80px;
}

.searchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage__option a {
    margin-left: 5px;
}

.searchPage__result {
    margin: 40px 0;
}

.searchPage__resultCount {
    color: #70757a;
    font-size: 14px;
}

.searchPage__results {
    max-width: 650px;
    margin-top: 20px;
    margin-left: 180px;
    margin-bottom: 100px;
}

.searchPage__resultTitile {
    text-decoration: none;
}

.searchPage__resultTitile:hover {
    text-decoration: underline;
}

.searchPage__resultTitile > h2 {
    font-weight: 400;
    font-size: 20px;
}

.searchPage__resultSnippet {
    margin-top: 5px;
}

.searchPage__resultLink {
    text-decoration: none;
    color: #1f2124;
}

.searchPage__resultImage {
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 20px;
}